/* *{
    border: solid 1px purple;
} */

.selectedContainer{
    display: flex;
    height: 100%;
    background: black;
    overflow: hidden;
}


.sel-header-wrapper{
 height: 20%;
 width: 100%;
 padding: 0;
 padding-left: 2rem;
 color: white;
 margin-top: 1rem;
}

.sel-img-wrapper{
    display: flex;
    padding: 2rem;
    height: 40%;
    width: 100%;
   
}

.selected-image{
    height: 500px;
    width: auto;
}

.section-container{
    width: 100%;
    height: 10%;
    padding: 0;
    padding-left: 3rem;
    color: white;
}

.section-container p{
    font-size: 2rem;
}

.sel-date-wrapper{
    color: white;

}

.sel-description-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40vh;
    width: 30vw;
}

.sel-description{
    color: white;
    margin: .5rem;

}

@media screen and ( max-width:640px){
   
    .sel-img-wrapper{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        height: 40%;
        width: 100%;
       
    }
    
    .selected-image{
        height: 300px;
        width: auto;
    }

    .sel-description-wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 20vh;
        width: 80vw;
    }
    
    .sel-description{
        color: white;
        margin: .5rem;
    
    }
}