.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    width: 100%;
    box-shadow: 2, 2, 2;
    padding: 2rem;
}

.header-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
    font-size: 2rem;
    font-weight: 100rem;
    color:white;
    margin: 0;
    padding: 2rem;
}

.header-logo{
    height: 4rem;
    width: auto;
    cursor: pointer;
}

@media screen and ( max-width:640px){
    .header-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width:100%;
    }

    .header{
        font-size: 1.7rem;
        font-weight: 100rem;
        color:white;
        margin: .3rem;
        padding: .3rem;
    }

}